*,
*::before,
*::after {
  font-family: SF Pro Display, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 1px solid #ddd;
  }
}



@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: SF Pro Display;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: SF Pro Display;
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-weight: 500;
  font-family: SF Pro Display;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}
