.wrap {
  display: flex;
  min-height: 100vh;
}

.left {
  display: flex;
  width: 240px;
}

.right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main {
  padding: 20px 120px;
  display: flex;
  flex-grow: 1;
}
