.wrap {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 120px;
  box-shadow: 0 4px 5px #E9EDF3;
  gap: 20px;
}

.currentDateWrap {

}

.indicatorListWrap {
  margin-left: 86px;
}

.textDropDownWrap {
  margin: 0 0 0 auto;
}

.textUserProfileWrap {
  margin: 0 0 0 47px;
}
