.wrap {
  position: relative;

}

.childrenWrap {
  margin-top: 12px;
  right: 0;
  z-index: 100;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #EAF0FA;

  box-shadow: 0 0 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;

  outline: none;
}

.titleWrap {
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #899CB1;
  display: flex;
  gap: 10px;
}

.openBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}

.hideOverflow {
  overflow: hidden;
}
